name: Build C Program (MSVC)

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Compile C program
        run: cl /W4 /O2 main.c

      - name: Run
        run: main.exe
