name: Build C Program (MSVC)

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ninja
        uses: lukka/get-ninja@v3


      - name: Setup MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build with Ninja
        run: ninja -f build.ninja

      - name: Run program
        run: .\app.exe
