name: Build C Program (MSVC)

on:
  push:

jobs:
  build_ninja:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download Ninja
        run: |
          $url = "https://github.com/ninja-build/ninja/releases/download/v1.13.2/ninja-win.zip"
          $zip = "$env:TEMP\ninja.zip"
          Invoke-WebRequest -Uri $url -OutFile $zip
          Expand-Archive -Path $zip -DestinationPath "$env:USERPROFILE\ninja" -Force

      - name: Add Ninja to PATH
        run: echo "$env:USERPROFILE\ninja" >> $env:GITHUB_PATH

      - name: Setup MSVC Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build with Ninja
        run: ninja -f build.ninja

      - name: Run program
        run: .\app.exe
